<article class="post">
  <div class="post-meta">
    <time datetime="{{ post.date | date_to_xmlschema }}">
      <span class="day">
          {{ post.date | date: "%d" }}
      </span>
      <span class="month-year">
          {{ post.date | date: "%B %Y" }}
      </span>
    </time>
  </div>
  <div class="post-content">
    <header class="post-content-header">
      <h3 class="post-content-header-title">
          <a href="{{ post.url | prepend: site.baseurl }}">
              {{ post.title }}
          </a>
      </h3>
    </header>
    <section class="post-content-excerpt">
      <p>{{ post.content | strip_html | truncatewords:40 }}</p>
    </section>
    <div class="post-content-tags">
      {% for tag in post.categories %}
        <a href="{{ site.baseurl }}/categories/index.html#{{ post.categories | cgi_encode }}"
          title="Other posts from the {{ tag | capitalize }} category">{{ tag | capitalize }}</a>
        {% unless forloop.last %}
          &nbsp;
        {% endunless %}
      {% endfor %}
    </div>
  <div>
</article>
