.navbar-main
{
  @extend .navbar-default;
  border-radius: 0px;
  border-width: 0px;
  .navbar-brand
  {
    background-color: $navbar-default-brand-hover-bg;
  }
}

body.page, body.post {
  .navbar-main {
    @extend .navbar-inverse
  }
}
