---
---
@charset "utf-8";

$brand-primary: #2e8bcc;

$navbar-default-color:                    black !default;
$navbar-default-bg:                       white !default;
$navbar-default-border:                   white !default;
$navbar-default-link-color:               black !default;
$navbar-default-link-hover-color:         black !default;
$navbar-default-link-hover-bg:            transparent !default;
$navbar-default-link-active-color:        black !default;
$navbar-default-link-active-bg:           darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:      #ccc !default;
$navbar-default-link-disabled-bg:         transparent !default;
$navbar-default-brand-color:              white !default;
$navbar-default-brand-hover-color:        white !default;
$navbar-default-brand-hover-bg:           $brand-primary !default;
$navbar-default-toggle-hover-bg:          transparent !default;
$navbar-default-toggle-icon-bar-bg:       black !default;
$navbar-default-toggle-border-color:      transparent !default;

$navbar-inverse-color:                    white !default;
$navbar-inverse-bg:                       black !default;
$navbar-inverse-border:                   black !default;
$navbar-inverse-link-color:               white !default;
$navbar-inverse-link-hover-color:         white !default;
$navbar-inverse-link-hover-bg:            transparent !default;
$navbar-inverse-link-active-color:        white !default;
$navbar-inverse-link-active-bg:           black !default;
$navbar-inverse-link-disabled-color:      #ccc !default;
$navbar-inverse-link-disabled-bg:         transparent !default;
$navbar-inverse-brand-color:              white !default;
$navbar-inverse-brand-hover-color:        white !default;
$navbar-inverse-brand-hover-bg:           $brand-primary !default;
$navbar-inverse-toggle-hover-bg:          transparent !default;
$navbar-inverse-toggle-icon-bar-bg:       white !default;
$navbar-inverse-toggle-border-color:      transparent !default;

//$grid-gutter-width: 30px;

//$screen-xs:                     480px !default;
//$screen-sm:                     640px !default;
//$screen-md:                     992px !default;
//$screen-lg:                     1200px !default;

// Small screen / tablet
//$container-tablet:             ((520px + $grid-gutter-width)) !default; // 750
//$container-desktop:            ((740px + $grid-gutter-width)) !default; // 970
//$container-large-desktop:      ((1000px + $grid-gutter-width)) !default; // 1170

@import "bootstrap";
@import "fontawesome/font-awesome";
@import "animations";
@import "navbar";

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif; }

.banner {
  @extend .jumbotron;
  padding: 0px;
  margin-top: (0 - $navbar-margin-bottom);
  text-align: center;
  background-color: black;
  background-size: cover;
  .banner-title, .banner-sub-title {
    margin: 0;
    padding: 0;
    color: white;
    text-transform: uppercase;
  }
  .banner-title {
    font-size:14px;
    color: white;
    text-transform: uppercase;
    padding-top: 70px;
    margin-bottom: 15px;
    span {
      display: inline-block;
      padding: 7px;
      background: $brand-primary;
      line-height: 1.1;
    }
    @media (min-width: $screen-sm-min) {
      font-size: 16px;
      padding-top:120px;
      margin-bottom: 15px;
    }
    @media (min-width: $screen-md-min) {
      padding-top: 150px;
    }
  }

  .banner-sub-title  {
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    padding-bottom: 80px;
    @media (min-width: $screen-sm-min) {
      font-size: 60px;
      padding-bottom: 120px;
    }
    @media (min-width: $screen-md-min) {
      font-size: 70px;
      padding-bottom: 150px;
    }
  }
}

.post-list .post
{
  @include make-row();
  visibility: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
  .post-meta
  {
    @include make-sm-column(3);
    @include make-md-column(2);
    margin-bottom: 10px;
    text-align: center;
    .day
    {
      font-size: 52px;
      line-height: 52px;
      display: block;
      font-weight: 800;
      color: $brand-primary;
      font-family: "Montserrat", sans-serif;
    }
    .month-year
    {
      display: block;
      color: black;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
    }
  }
  .post-content
  {
    @include make-sm-column(9);
    @include make-md-column(10);
    .post-content-header-title
    {
      color: black;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      font-size: 34px;
      margin: 0;
      padding: 0;
      line-height: 1.1;
      a
      {
        color:black;
      }
      @media (min-width: $screen-sm-min) {
        text-align: left;
      }
    }
  }
}
