---
---
@charset "utf-8";

/* overiding some bootstrap variables */

$brand-primary: #2e8bcc;

$navbar-default-color:                    black !default;
$navbar-default-bg:                       white !default;
$navbar-default-border:                   white !default;
$navbar-default-link-color:               black !default;
$navbar-default-link-hover-color:         black !default;
$navbar-default-link-hover-bg:            transparent !default;
$navbar-default-link-active-color:        black !default;
$navbar-default-link-active-bg:           darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:      #ccc !default;
$navbar-default-link-disabled-bg:         transparent !default;
$navbar-default-brand-color:              white !default;
$navbar-default-brand-hover-color:        white !default;
$navbar-default-brand-hover-bg:           $brand-primary !default;
$navbar-default-toggle-hover-bg:          transparent !default;
$navbar-default-toggle-icon-bar-bg:       black !default;
$navbar-default-toggle-border-color:      transparent !default;
$navbar-inverse-color:                    white !default;
$navbar-inverse-bg:                       black !default;
$navbar-inverse-border:                   black !default;
$navbar-inverse-link-color:               white !default;
$navbar-inverse-link-hover-color:         white !default;
$navbar-inverse-link-hover-bg:            transparent !default;
$navbar-inverse-link-active-color:        white !default;
$navbar-inverse-link-active-bg:           black !default;
$navbar-inverse-link-disabled-color:      #ccc !default;
$navbar-inverse-link-disabled-bg:         transparent !default;
$navbar-inverse-brand-color:              white !default;
$navbar-inverse-brand-hover-color:        white !default;
$navbar-inverse-brand-hover-bg:           $brand-primary !default;
$navbar-inverse-toggle-hover-bg:          transparent !default;
$navbar-inverse-toggle-icon-bar-bg:       white !default;
$navbar-inverse-toggle-border-color:      transparent !default;

$headings-font-family: "Montserrat", sans-serif;

$font-family-base: "Open Sans", sans-serif;

$text-color: #222;

$blockquote-font-size: 26px;
$blockquote-border-color: #ddd;

/* frameworks */

@import "bootstrap";
@import "fontawesome/font-awesome";

/* animations */

.fadeInDown {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  visibility: visible !important; 
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); 
  } 
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); 
  } 
}

/* general */

blockquote {
  color: #6f6f6f; 
}

// TODO: Style the scroll bar to be easier to use
// ::-webkit-scrollbar {
//     width: 50px;
//     height: 50px;
// }
// ::-webkit-scrollbar-button {
//     background: #ccc;
// }
// ::-webkit-scrollbar-track-piece {
//     background: #888;
// }
// ::-webkit-scrollbar-thumb {
//     background: #eee;
// }​

/* navbar */

.navbar-main {
  @extend .navbar-default;
  border-radius: 0px;
  border-width: 0px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  li > a {
    line-height: 50px; 
  }
  .navbar-brand {
    font-size: 22px;
    background-color: $navbar-default-brand-hover-bg;
    line-height: 50px;
    height: inherit; 
  } 
  .navbar-toggle {
    padding: 15px 15px;
    .icon-bar {
      width: 30px;
      height: 4px;
      &+ .icon-bar {
        margin-top: 7px; 
      } 
    } 
  } 
}

body.page, body.post {
  .navbar-main {
    @extend .navbar-inverse 
  } 
}

/* header */

.site-title {
  @extend .jumbotron;
  background: inherit;
  padding: 0px;
  text-align: center;
  margin-top: (0 - $navbar-margin-bottom); 
  margin-bottom: 0;
  border-bottom: 0px;
  padding-top: 80px;
  padding-bottom: 70px;
  @media (min-width: $screen-sm-min) {
    padding-top: 90px;
    padding-bottom: 80px; 
  }
  @media (min-width: $screen-md-min) {
    padding-top: 110px;
    padding-bottom: 100px; 
  }
  @media (min-width: $screen-lg-min) {
    padding-top: 130px;
    padding-bottom: 120px; 
  } 
  .title {
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    @media (min-width: $screen-sm-min) {
      font-size: 70px; 
    }
    @media (min-width: $screen-lg-min) {
      font-size: 85px; 
    }
  }
}
  // h1,h2,h3,h4,h5,h6 {
  //   color: black;
  //   font-weight: 800;
  //   font-size: 50px;
  //   margin: 0;
  //   padding: 0;
  //   text-align: center;
  //   text-transform: uppercase; 
  //   @media (min-width: $screen-sm-min) {
  //     font-size: 70px; }
  //   @media (min-width: $screen-lg-min) {
  //     font-size: 85px; } } }

/* banner */

.banner {
  @extend .site-title;
  background-color: black;
  padding-top: 70px;
  padding-bottom: 60px;
  @media (min-width: $screen-sm-min) {
    padding-top: 120px;
    padding-bottom: 110px; 
  }
  @media (min-width: $screen-md-min) {
    padding-top: 150px;
    padding-bottom: 140px; 
  }
  @media (min-width: $screen-lg-min) {
    padding-top: 200px;
    padding-bottom: 190px; 
  }
  .title {
    color: white; 
    font-size: 40px;
    @media (min-width: $screen-sm-min) {
      font-size: 60px; 
    }
    @media (min-width: $screen-md-min) {
      font-size: 70px; 
    }
    @media (min-width: $screen-lg-min) {
      font-size: 100px; 
    } 
  }
  .banner-title {
    font-size:14px;
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    span {
      display: inline-block;
      padding: 10px;
      background: $brand-primary;
      line-height: 1.1; 
    }
    @media (min-width: $screen-sm-min) {
      font-size: 16px;
      margin-bottom: 15px; 
    } 
  } 
}

/* page */

.page-content {
  font-size: 18px;
  margin-bottom: 80px;
  p:first-child {
    font-size: 22px;
    font-weight: 300;
    @media (min-width: $screen-sm-min) {
      font-size: 26px; 
    } 
  }
  p, blockquote {
    margin: 0 0 52px; 
  }
  p.has-image{
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px; 
  }
  ul, ol {
    margin-bottom: 20px; 
  }
  h1, .h1 { font-size: 245%; font-weight: bold; }
  h2, .h2 { font-size: 205%; font-weight: bold; }
  h3, .h3 { font-size: 150%; font-weight: bold; }
  h4, .h4 { font-size: 130%; font-weight: bold; }
  h5, .h5 { font-size: 100%; font-weight: bold; }
  h6, .h6 { font-size: 90%;  font-weight: bold; } 
} 

/* posts */

.post-list .post {
  @include make-row();
  visibility: hidden;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #d9d9d9;
  &:last-child {
    border-bottom: 0px; 
  }
  @media (min-width: $screen-sm-min) {
    padding-top: 70px;
    padding-bottom: 70px; 
  }
  .post-meta {
    @include make-sm-column(3);
    @include make-md-column(2);
    margin-bottom: 40px;
    text-align: center;
    .day {
      font-size: 52px;
      line-height: 52px;
      display: block;
      font-weight: 800;
      color: $brand-primary;
      font-family: "Montserrat", sans-serif; 
    }
    .month-year {
      display: block;
      color: black;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase; 
    } 
  }
  .post-content {
    @include make-sm-column(9);
    @include make-md-column(10);
    .post-content-header-title {
      color: black;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      font-size: 26px;
      margin: 0;
      padding: 0;
      line-height: 1.1;
      a {
        color:black; 
      }
      @media (min-width: $screen-sm-min) {
        text-align: left;
        margin-bottom: 25px;
        font-size: 34px; 
      } 
    }
    .post-content-excerpt {
      color: black;
      font-size: 20px;
      margin-top: 10px;
      text-align: center;
      p { margin: 0; }
      @media (min-width: $screen-sm-min) {
        text-align: left; 
      } 
    }
    .post-content-tags {
      text-align: center;
      margin: 0 0 10px;
      a {
        @extend .btn;
        @extend .btn-default;
        @extend .btn-xs;
        margin-right: 3px;
        margin-bottom: 5px; 
      }
      @media (min-width: $screen-sm-min) {
        text-align: left; 
      } 
    } 
  } 
}

/* post */
.post-page {
  margin-bottom: 80px;
  .post-content {
    @extend .page-content; 
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 0px;
  }
  .share {
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 10px;
    color: #e51843; 
    text-align: center;
    font-size: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    @media (min-width: $screen-sm-min) {
      padding-top: 80px;
      padding-bottom: 80px; 
    }
    a {
      display: inline-block;
      margin: 0 15px;
      color: #e51843; 
    } 
  }
  .comments {
    padding: 0;
    @media (min-width: $screen-sm-min) {
      //padding-top: 85px;
      //padding-bottom: 150px;
    }
    .header {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

/* footer */

.footer{
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5; }